.body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.main-banner {
  height: 100vh;
  width: 100%;
  background-image: url(../images/main-banner.png);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 120px 120px #1a1a1a, inset 0 0 0px 0px white;
  /* ref: https://prnt.sc/nIs-tIrzoJGS box shadow ekhono clear naa. next support session e bujhte hobe */
}
.banner-heading {
  height: auto;
  color: #ffffff;
  padding: 15% 0 0 15%;
  font-weight: 700;
  text-align: left;
  line-height: 75px;
  font-size: 55px;
  text-shadow: 2px 2px #000000;
}
.banner-p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  padding: 0 0 0 15%;
  text-shadow: 2px 2px #000000;
}
.button {
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 15%;
  text-shadow: 1px 1px #000000;
}
.button:hover {
  background-color: blue;
}
