/* common things */
.body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
}
.center-text {
  text-align: center;
}
.h2-title {
  font-size: 45px;
  font-weight: 700;
  color: #121212;
  height: auto;
  text-align: center;
  
}
.p-details {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  line-height: 28px;

}
/* banner section */
.main-banner {
  height: 100vh;
  width: 100%;
  background-image:
  linear-gradient(to right, black, transparent),
  url('../images/main-banner.png');
  );
}
.banner-heading {
  height: auto;
  color: #ffffff;
  padding: 15% 0 0 15%;
  margin: 0 50% 0 0;
  font-weight: 700;
  text-align: left;
  line-height: 75px;
  font-size: 55px;
  text-shadow: 2px 2px #000000;
}
.banner-p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  padding: 0 0 0 15%;
  margin: 0 50% 3% 0;
  text-shadow: 2px 2px #000000;
}
.button {
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 15%;
  text-shadow: 1px 1px #000000;
}
.button:hover {
  background-color: blue;
}
/* info section */
#info {
}
.section-area {
  padding-top: 40px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #1a1a1a;
  margin: 0 0 0 0;
}
.flex {
  display: flex;
}
.info-1 {
}
.info-1-heading {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
  margin: 0 0 0 27%;
  padding: 0 20px 0 0;
}
.info-1-p {
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 27%;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 15px 0;
}
.info-1-button {
  margin: 0 0 0 27%;
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}

.info-1-button:hover {
  background-color: blue;
}
.info-1-image {
}
.info-1-image img {
  padding-right: 80px;
  height: 70%;
}
img.play-1 {
  position: relative;
  height: 56px;
  width: 56px;
  left: 30%;
  bottom: 40%;
}
.info-2-image img {
  height: 70%;
  margin: 0 0 0 27%;
  padding: 0 180px 0 0;
}
.info-2-heading {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
}
.info-2-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.info-2-button {
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}

.info-2-button:hover {
  background-color: blue;
}

/* help items */
.center-item {
  margin: 0 0 0 8%;
  padding: 0 0 30px 0;
}
.help-item {
  background-color: #FEF4F5;
  width: 550px;
  margin: 0 25px 0 0;
}
.help-title {
  font-size: 20px;
  color: #121212;
  font-weight: 700;
  position: relative;
  bottom: 35px;
}
img.help-img {
  margin: 30px 0 0 0;
  padding: 0 0 0 30px;
}
.help-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 0 30px;
  position: relative;
  left: 60px;
  bottom: 45px;
  margin: 15px 100px 0 0;
}