/* common things */
.body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  background-color: #ffffff;
}
nav {
  height: 60px;
}
.logo {
  height: 50px;
  width: 50px;
  margin: 0 50px 0 20px;
}
nav > ul {
  display: flex;
}
nav li {
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  margin: 0 20px 10px 0;
  padding: 0 10px 0 10px;
  font-size: 30px;
  font-weight: 600;
}
nav li:hover {
  background-color: #707070;
}
nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
nav > ul > li:hover > ul {
 /* > = immediate child */
display: block;
}
.dropdown-menu-items {
display: none;
position: absolute;
background-color: lightgray;
padding: 0;
margin: 0;
}
.simple-li:hover {
  background-color: #ffffff;
}
.nav-button {
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 0 80px;
  text-shadow: 1px 1px #000000;
}
.nav-button:hover {
  background-color: blue;
}
.center-text {
  text-align: center;
  padding: 0 100px 0 120px;
}
.h2-title {
  font-size: 45px;
  font-weight: 700;
  color: #121212;
  height: auto;
  text-align: center;
  
}
.p-details {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  line-height: 28px;

}
/* banner section */
.main-banner {
  height: 100vh;
  width: 100%;
  background-image:
  linear-gradient(to right, black, transparent),
  url('../images/main-banner.png');
  );
  background-repeat: no-repeat;
}
.banner-heading {
  height: auto;
  color: #ffffff;
  padding: 15% 0 0 15%;
  margin: 0 50% 0 0;
  font-weight: 700;
  text-align: left;
  line-height: 75px;
  font-size: 55px;
  text-shadow: 2px 2px #000000;
}
.banner-p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  padding: 0 0 0 15%;
  margin: 0 50% 3% 0;
  text-shadow: 2px 2px #000000;
}
.button {
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 15%;
  text-shadow: 1px 1px #000000;
}
.button:hover {
  background-color: blue;
}
/* info section */
#info {
}
.section-area {
  padding-top: 40px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #1a1a1a;
  margin: 0 0 0 0;
}
.flex {
  display: flex;
}
.info-1 {
}
.info-1-heading {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
  margin: 0 0 0 27%;
  padding: 0 20px 0 0;
}
.info-1-p {
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 27%;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 15px 0;
}
.info-1-button {
  margin: 0 0 0 27%;
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}

.info-1-button:hover {
  background-color: blue;
}
.info-1-image {
}
.info-1-image img {
  padding-right: 80px;
  height: 70%;
}
img.play-1 {
  position: relative;
  height: 56px;
  width: 56px;
  left: 30%;
  bottom: 40%;
}
.info-2-image img {
  height: 70%;
  margin: 0 0 0 27%;
  padding: 0 180px 0 0;
}
.info-2-heading {
  font-size: 45px;
  color: #121212;
  font-weight: 700;
}
.info-2-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.info-2-button {
  color: #ffffff;
  font-weight: 600;
  background-color: #ef233c;
  padding: 15px 20px 15px 20px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px #000000;
}

.info-2-button:hover {
  background-color: blue;
}

/* help items */
.help {
  margin: 0 0 35px 0;
  border-bottom: 1px solid #1a1a1a;
}
.center-item {
  margin: 0 0 0 8%;
  padding: 0 0 30px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  /* koyta column lagbe. repeat e first mention koprte hobe koy column lagbe. then comma diye bolte hobe size. ekhane 1fr = sob gulo column soman soman size er hobe. extra specific column size o repeat diye add kora jabe. repeat(2, 1fr) 100px; ekhane: 2 ta column soman soman hobe. + new 3 number ta 100px er hobe. repeat(2, 1fr) 2fr; = ekhane 3 number column ta first er 2 tar theke double hobe.*/
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  margin: 0 20% 5% 20%;
  grid-row-gap: 1px;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
.help-item {
  background-color: #FEF4F5;
  width: 1fr;
  height: auto;
}
.help-title {
  font-size: 20px;
  color: #121212;
  font-weight: 700;
  position: relative;
  bottom: 35px;
}
.help-p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  font-weight: 400;
  padding: 0 0 0 30px;
  position: relative;
  left: 30px;
  bottom: 45px;
  margin: 15px 100px 0 30px;
}
img.help-img {
  margin: 30px 0 0 0;
  padding: 0 0 0 30px;
}
.center-item-img {
  margin: 0 0 0 9.9%;
  padding: 0 0 30px 0;
}
.section-image {
  margin: 0 20px 0 0;
  width: 30%;
}
.zakat {
  margin: 0 0 0 7%;
}
.zakat-fund {
  border: 1px solid #D9D9D9;
  margin: 0 20px 0 0;
  height: 420px;
}
.zakat-fund h4 {
  font-size: 20px;
  color: #121212;
  font-weight: 700;
  padding: 0 0 0 10px;
  margin: 0;
}
.zakat-fund p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 0 10px;
  color: #707070;
}
.donate-for-zakat {
  font-size: 20px;
  color: #EF233C;
  font-weight: 600;
  padding: 0;
  margin: 0 0 0 10px;
}
.donate-for-zakat:hover {
  color: blue;
}
/* footer */
footer {
  padding-top: 20px;
  height: 150px;
  background: #000;
}

footer {
  margin-top: 80px;
}

footer h3 {
  font-size: 30px;
  text-align: center;
  color: #ff5959;
}

footer p {
  color: #d9dbe1;
  text-align: center;
}